<div class="container">
    <div class="upperForm" width='120%'>
        <h3>Application Product Details</h3>
    </div>
    <br>
    <table cellspan='0'>
        <thead>
            <tr><td></td><td></td></tr>
        </thead>
        <tbody>
            <tr><td class="TDFormHead">Application Status</td>
                <td class="TDFormBody">{{ApplicationStatus}}</td>
            </tr>
            
            <tr><td class="TDFormHead">Application Group Name</td>
                <td class="TDFormBody">{{ApplicationGroupName}}</td>
            </tr>
            
            <tr><td class="TDFormHead">Application Name</td>
                <td class="TDFormBody">{{ApplicationName}}</td>
            </tr>
            
            <tr><td class="TDFormHead">Description</td>
                <td class="TDFormBody">{{Description}}</td>
            </tr>
            
            <tr><td class="TDFormHead">Comment</td>
                <td class="TDFormBody">{{Comment}}</td> <!-- this is test-area-->
            </tr>
            
        </tbody>

    </table>
</div>